body
{
    font-family: 'Expletus Sans', cursive;
    background-color: rgb(5, 23, 41);
}
.top{    margin-top: 6rem;}
.kazuha{color: rgba(255, 255, 255, 0);}
div.logo
{
    color: white;
    font-size: xx-large;
    top: 1.56rem;
    position: absolute;
    left: 2.5rem;
}
header
{
    display: flex;
    justify-content: space-evenly;
    width: 39.8rem;
    right: 8rem;
    position: absolute;
    color: white;
    top: 2.5rem;
}
div.signUp
{
    position: absolute;
    right: -4.5rem;
}
img.Start
{
    width: 84.33rem;
    right: 0rem;
    margin-left: -8px;
    margin-top: -7.5rem;
    position: absolute;
    z-index: -1;
}
img.Start1
{
    width: 84.33rem;
    right: 0rem;
    margin-left: -8px;
    margin-top: -7.5rem;
    position: absolute;
    z-index: -1;
    filter: blur(0.5px) brightness(1.1);
    -webkit-filter: blur(0.5px) brightness(1.1);
    animation-name: start11;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
    animation-iteration-count: infinite;
}
img.logoimg
{
    width: 27rem;
    right: 4rem;
    position: absolute;
    top: 10rem;
}
img.logoimg1
{
    width: 27rem;
    right: 4rem;
    position: absolute;
    top: 10rem;
    filter: blur(5px) brightness(1.9);
    animation-name: Logoo;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
    animation-iteration-count: infinite;
}
@keyframes Logoo
{
    0%
    {
        filter: blur(5px) brightness(1.3);
        -webkit-filter: blur(5px) brightness(1.3);
    }
    50%
    {
        filter: blur(8px) brightness(3);
        -webkit-filter: blur(8px) brightness(3);
}
    100%
    {
        filter: blur(5px) brightness(1.3);
        -webkit-filter: blur(5px) brightness(1.3);
    }
}
div.shadowright
{
    width: 84.3rem;
    left: 0px;
    position: absolute;
    height: 37.5rem;
    background: linear-gradient(270deg, #0000004d, transparent);
    top: 0rem;
    z-index: -1;
}
div.shadowleft
{
    width: 84.3rem;
    left: 0px;
    position: absolute;
    height: 37.5rem;
    background: linear-gradient(90deg, #00000070, transparent);
    top: 0rem;
    z-index: -1;
}
div.Element
{
    margin-top: 45rem;
    margin-left: 40.5%;
    font-size: xx-large;
    color: white;
}
.hrr
{
    width: 84.3rem;
    height: 84rem;
    background-color: rgb(5, 23, 41);
    position: absolute;
    top: 35rem;
    left: 0px;
    box-shadow: 0px -50px 90px 0px #000000de;
    z-index: -1;
}
div.colorhrr
{
    width: 84.33rem;
    height: 6px;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    left: 0px;
    position: absolute;
    top: 35rem;
}
div.colorhrr::before
{
    content: '';
    inset: 0;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    position: absolute;
    background-size: 500%;
    animation-name: hrr;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;;
    animation-iteration-count: infinite;
}
div.colorhrr::after
{
    content: '';
    inset: 0;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    position: absolute;
    background-size: 500%;
    animation-name: hrr;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;;
    animation-iteration-count: infinite;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
div.colorhrr1
{    z-index: 1;
    top: 312.7rem;
    width: 84.33rem;
    height: 6px;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    left: 0px;
    position: absolute;
}
div.colorhrr1::before
{
    content: '';
    inset: 0;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    position: absolute;
    background-size: 500%;
    animation-name: hrr;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;;
    animation-iteration-count: infinite;
}
div.colorhrr1::after
{
    content: '';
    inset: 0;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    position: absolute;
    background-size: 500%;
    animation-name: hrr;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;;
    animation-iteration-count: infinite;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
@keyframes hrr
{
    0%
    {
        background-position: 0px;
    }
    50%
    {
        background-position: 100%;
    }
    100%
    {
        background-position: 0%;
    }
}
.GinshinElementsImgs
{
    display: flex;
    width: 75rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 4.7rem;
    margin-top: 5.5rem;
}
img.imgAnemo
{
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
img.imgAnemo:hover
{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px #4fc6c4) drop-shadow(0px 0px 10px #4fc6c4);
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-filter: drop-shadow(0px 0px 8px #4fc6c4) drop-shadow(0px 0px 10px #4fc6c4);
}
img.imgElectro
{
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
img.imgElectro:hover
{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px #eb44d1) drop-shadow(0px 0px 10px #eb44d1);
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px #eb44d1) drop-shadow(0px 0px 10px #eb44d1);
}
img.imgcyro
{
    width: 12rem;
    height: 8rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
img.imgcyro:hover
{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px #00ccff) drop-shadow(0px 0px 10px #00ccff);
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px #00ccff) drop-shadow(0px 0px 10px #00ccff);
}
img.imghydro
{
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
img.imghydro:hover
{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px #006eff) drop-shadow(0px 0px 10px #006eff);
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px #006eff) drop-shadow(0px 0px 10px #006eff);
}
img.imggeo
{
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
img.imggeo:hover
{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px #ffe600) drop-shadow(0px 0px 10px #ffe600);
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px #ffe600) drop-shadow(0px 0px 10px #ffe600);
}
img.imgpyro
{
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
img.imgpyro:hover
{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px #ff0000) drop-shadow(0px 0px 10px #ff0000);
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px #ff0000) drop-shadow(0px 0px 10px #ff0000);
}
.GinshinElementsFrame
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 3.7rem;
    margin-top: 3.5rem;
    position: absolute;
    z-index: -1;
}
.frameElement1
{
    height: 8rem;
    width: 8rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: -5px;
    border-radius: 1rem;
    top: -10px;
}
.frameElement2
{
    height: 8rem;
    width: 8rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 11.33rem;
    border-radius: 1rem;
    top: -10px;
}
.frameElement3
{
    height: 8rem;
    width: 8rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 26.69rem;
    border-radius: 1rem;
    top: -10px;
}
.frameElement4
{
    height: 8rem;
    width: 8rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 42rem;
    border-radius: 1rem;
    top: -10px;
}
.frameElement5
{
    height: 8rem;
    width: 8rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 54.77rem;
    border-radius: 1rem;
    top: -10px;
}
.frameElement6
{
    height: 8rem;
    width: 8rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 68.52rem;
    border-radius: 1rem;
    top: -10px;
}
.GinshinElementsNames
{
    display: flex;
    width: 72rem;
    justify-content: space-between;
    margin-left: 5.7rem;
    margin-top: 3.5rem;
    position: absolute;
    color: white;
    align-items: center;
}
.Anemo:hover
{
    text-shadow: 0px 0px 20px #4fc6c4, 0px 0px 10px #4fc6c4;
    cursor: pointer;
}
.Electro
{
    margin-left: -46px;
}
.Electro:hover
{
    text-shadow: 0px 0px 20px #eb44d1, 0px 0px 10px #eb44d1;
    cursor: pointer;
}
.cryo
{
    margin-left: 14px;
    padding-left: 1.2rem;
}
.cryo:hover
{
    text-shadow: 0px 0px 20px #00ccff, 0px 0px 10px #00ccff;
    cursor: pointer;
}
.hydro
{
    margin-left: 21px;
    padding-left: 1.2000000000000002rem;
}
.hydro:hover
{
    text-shadow: 0px 0px 20px #006eff, 0px 0px 10px #006eff;
    cursor: pointer;
}
.geo
{
    padding-right: 1rem;
}
.geo:hover
{
    text-shadow: 0px 0px 20px #ffe600, 0px 0px 10px #ffe600;
    cursor: pointer;
}
.pyro:hover
{
    text-shadow: 0px 0px 20px #ff0000, 0px 0px 10px #ff0000;
    cursor: pointer;
}
.freamPlay
{
    height: 10rem;
    width: 10rem;
    background-color: #0076ff2e;
    box-shadow: -4px 5px 35px 0px #00b6ff3b, inset -5px 5px 15px 0px #00fffd33;
    position: absolute;
    border-radius: 1rem;
    top: 91.5rem;
    left: 46.5%;
}
img.imgGame
{
    height: 8rem;
    width: 8rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 47.7%;
}
img.imgGame1
{
    height: 8rem;
    width: 8rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 47.7%;
    animation-name: Games;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
    animation-timing-function: ease-in-out;
}
@keyframes Games
{
    0%
    {
        filter: blur(10px);
        -webkit-filter: blur(10px);
}
    50%
    {
        filter: blur(15px);
    }
    100%
    {
        filter: blur(10px);
        -webkit-filter: blur(10px);
}
}
.gameplay
{
    margin-top: 31.6rem;
    margin-left: 48.25%;
    font-size: x-large;
    color: white;
    text-shadow: 0px 0px 15px #00b5ff;
    margin-bottom: 10rem;
}
img.backgroundGamePlay
{
    position: absolute;
    width: 77.9rem;
    z-index: -1;
    opacity: 0.2;
    margin-left: 3.4rem;
    margin-top: 1rem;
}
img.photoGamePlay
{
    position: absolute;
    width: 14rem;
    top: 116.9rem;
    height: 9rem;
    left: 5.2rem;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00B5FF);
}
img.photoGamePlay1
{
    position: absolute;
    width: 16rem;
    top: 145.99rem;
    left: 61.2rem;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00b5ff8c);
}
p.discreabtionplay
{
    color: white;
    width: 76rem;
    margin-left: 4.7rem;
    letter-spacing: 1px;
    font-size: small;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.span1
{
    color: white;
    width: 60.3rem;
    margin-left: 19.7rem;
    line-height: 1.6;
    padding-top: 1.5rem;
    letter-spacing: 1px;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.span2
{
    font-size: smaller;
    color: white;
    width: 53rem;
    margin-left: 4.7rem;
    line-height: 1.6;
    letter-spacing: 1px;
    padding-top: 1.7rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
.Awards
{
    margin-top: 23rem;
    margin-left: 49.29%;
    color: white;
    text-shadow: 0px 0px 15px #ff1249;
    font-size: x-large;
}
.frameAwards
{
    height: 10rem;
    width: 10rem;
    background-color: #ff124947;
    box-shadow: -4px 5px 35px 0px #ff124980, inset -5px 5px 15px 0px #ff12497d;
    position: absolute;
    border-radius: 1rem;
    top: 170.5rem;
    left: 46.5%;
}
img.cup
{
    height: 8rem;
    width: 8rem;
    position: absolute;
    border-radius: 1rem;
    top: 171.5rem;
    left: 47.7%;
}
img.cup1
{
    height: 8rem;
    width: 8rem;
    position: absolute;
    border-radius: 1rem;
    top: 171.5rem;
    left: 47.7%;
    filter: blur(10px);
}
p.discreaptionAwards
{
    color: white;
    margin-top: 5rem;
    width: 55rem;
    margin-left: 23rem;
    text-shadow: 0px 0px 20px #ff1249c7, 0px 0px 50px #ff1249;
}
img.photoAwards
{
    width: 8rem;
    position: absolute;
    top: 188.5rem;
    left: 14rem;
    border: 3px solid #a11233;
    filter: drop-shadow(0px 0px 51px #ff1249);
}
.fraemStory
{
    height: 10rem;
    width: 10rem;
    background-color: #ca00ff29;
    box-shadow: -4px 5px 35px 0px #ca00ffa1, inset -5px 5px 15px 0px #ca00ff75;
    position: absolute;
    border-radius: 1rem;
    top: 210.5rem;
    left: 46.5%;
}
img.book
{
    height: 7rem;
    width: 7rem;
    position: absolute;
    left: 48.1%;
    top: 211.99rem;
    filter: blur(35px) brightness(2);
}
img.book1
{
    height: 7rem;
    width: 7rem;
    position: absolute;
    left: 48.1%;
    top: 211.99rem;
}
.NameStory
{
    margin-top: 26.5rem;
    color: white;
    font-size: xx-large;
    margin-left: 49%;
    text-shadow: 0px 0px 20px #c000ff;
}
p.discraptionStory{
    color: white;
    width: 40rem;
    margin-left: 35.7rem;
    letter-spacing: 1px;
    margin-top: -0.4rem;
    font-size: small;
    text-shadow: 0px 0px 20px #c000ff;}
img.SAKON{   
    position: absolute;
    width: 10rem;
    margin-top: 1rem;
    left: 5rem;
    border: 3px solid #a11282;
    filter: drop-shadow(0px 0px 50px #a11282);}
img.ùëπùë®ùë∞ùë´ùë¨ùëµ{
    position: absolute;
    width: 14rem;
    left: 63rem;
    border: 3px solid #a11282;
    margin-top: 1rem;
    filter: drop-shadow(0px 0px 50px #a11282);} 
img.Dragon14{
    position: absolute;
    width: 20rem;
    left: 15rem;
    border: 3px solid #a11282;
    margin-top: 17.5rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
.Framesss{display: flex;
    width: 83rem;
    margin-top: 15rem;
    justify-content: space-around;}
.freams{width: 10rem;
    height: 10rem;
    background-color: #061f37;
    border-radius: 6rem;}
img.twitterLogo{    position: absolute;
    width: 5rem;
    margin-left: 11.2rem;
    margin-top: -7.2rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;}
img.twitterLogo:hover
{
    opacity: 1;
    filter: drop-shadow(0px 0px 20px #0090ff);
}
img.discordLogo{    position: absolute;
    width: 5rem;
    margin-left: 39rem;
    margin-top: -7.2rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;}
img.discordLogo:hover{
    opacity: 1;
    filter: drop-shadow(0px 0px 20px #e500ff);
    -webkit-filter: drop-shadow(0px 0px 20px #e500ff);
}
img.inestaLogo{    position: absolute;
    width: 5rem;
    margin-left: 66.8rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    margin-top: -7.2rem;
    opacity: .05;}
img.inestaLogo:hover{
    opacity: 1;
    filter: drop-shadow(0px -10px 20px #ffff00) drop-shadow(0px 10px 20px #e500ff) drop-shadow(0px 10px 20px #e500ff);
    -webkit-filter: drop-shadow(0px -10px 20px #ffff00) drop-shadow(0px 10px 20px #e500ff) drop-shadow(0px 10px 20px #e500ff);
}
p.span3{
    color: white;
    width: 44rem;
    margin-left: 15.7rem;
    letter-spacing: 1px;
    font-size: small;
    text-shadow: 0px 0px 20px #c000ff;}
p.span4{
    color: white;
    width: 62rem;
    margin-top: 1.5rem;
    margin-left: 14.7rem;
    letter-spacing: 1px;
    font-size: small;
    text-shadow: 0px 0px 20px #c000ff;}
.ContentFooter{
    color: white;
    margin-left: 12rem;
    font-size: small;
    text-shadow: 0px 0px 20px #ffffffd6;}
p.span5{  
    color: white;
    margin-left: 15.9rem;
    text-shadow: 0px 0px 20px #ffffffd6;
    font-size: small;}
p.span6{
    color: white;
    margin-left: 34.79rem;
    font-size: small;
    text-shadow: 0px 0px 20px #ffffffd6;}
img.genshinLogoFooter{
    width: 15rem;
    margin-left: 42%;
    margin-top: 15rem;
    margin-bottom: .5rem;}
img.Destruction{
    width: 3.6rem;
    padding-bottom: 5px;
    margin-left: -11.8rem;}
img.Esrb-removebg-preview{
    width: 4rem;
    padding-left: 1.39rem;}
img.Hoyoverse{
    width: 23rem;
    margin-left: 31rem;
    margin-top: -3rem;}
.BackgroundColorFooter{width: 100%;
    margin-left: -0.5rem;
    height: 30rem;
    position: absolute;
    margin-top: -25rem;
    z-index: -1;
    background-color: #020e1a;}
    .Copyright{    color: white;
        font-size: large;
        margin-left: 46%;
        text-shadow: 0px 0px 20px;}