@media (min-width: 280px) and (max-width: 299px) {
    div.logo {
        color: rgba(255, 255, 255, 0);
        position: absolute;
    }
    header {
        display: flex;
        justify-content: space-between;
        width: 12.3rem;
        right: 4.5rem;
        position: absolute;
        color: white;
        font-size: xx-small;
        top: .5rem;
    }
    div.signUp {
        position: absolute;
        right: -3.5rem;
    }
    img.Start {
        width: 18.8rem;
        right: 0rem;
        margin-left: -8px;
        margin-top: -6.5rem;
        position: absolute;
        z-index: -1;
    }
    img.Start1 {
        width: 18.8rem;
        right: 0rem;
        margin-left: -8px;
        margin-top: -6.5rem;
        position: absolute;
        z-index: -1;
        filter: blur(0.5px) brightness(1.1);
        -webkit-filter: blur(0.5px) brightness(1.1);
        animation-name: start11;
        animation-duration: 10s;
        animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
        animation-iteration-count: infinite;
    }
    img.logoimg {
        width: 7rem;
        right: 0rem;
        position: absolute;
        top: 3rem;
    }
    img.logoimg1 {
        width: 7rem;
        right: 0rem;
        position: absolute;
        top: 3rem;
        filter: blur(5px) brightness(1.9);
        animation-name: Logoo;
        animation-duration: 5s;
        animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
        animation-iteration-count: infinite;
    }
    div.shadowleft {
        width: 19.6rem;
        left: 0px;
        position: absolute;
        height: 10.5rem;
        background: linear-gradient(90deg, #00000070, transparent);
        top: 0rem;
        z-index: -1;
    }
    div.shadowright {
        width: 19.299999999999997rem;
        left: 0px;
        position: absolute;
        height: 10.5rem;
        background: linear-gradient(270deg, #0000004d, transparent);
        top: 0rem;
        z-index: -1;
    }
    div.colorhrr {
        width: 19.33rem;
        height: 6px;
        background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
        left: 0px;
        position: absolute;
        top: 10rem;
} 
div.colorhrr1 {
    z-index: 1;
    top: 477.6rem;
    width: 19rem;
    height: 6px;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    left: 0px;
    position: absolute;
}
.hrr {
    width: 19rem;
    height: 84rem;
    background-color: rgb(5, 23, 41);
    position: absolute;
    top: 10rem;
    left: 0px;
    box-shadow: 0px -10px 20px 0px #000000c2;
    z-index: -1;
}
div.Element {
    margin-top: 10rem;
    margin-left: 31.7%;
    font-size: small;
    color: white;
}
.GinshinElementsImgs {
    display: grid;
    width: 262rem;
    margin-left: 2rem;
    margin-top: 5.5rem;
    justify-items: center;
    justify-content: start;
}
.GinshinElementsFrame {
    margin-left: 3.7rem;
    margin-top: 3.5rem;
    position: absolute;
    z-index: -1;
}
.frameElement1 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 0.4rem;
}
.frameElement2 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 8.28rem;
}
.frameElement3 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 17.3rem;
}
.frameElement4 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 26.8rem;
}
.frameElement5 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 35.9rem;
}
.frameElement6 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 45.3rem;
}
.GinshinElementsImgs {
    display: grid;
    width: 262rem;
    margin-left: 2rem;
    margin-top: 5.5rem;
    justify-items: center;
    justify-content: start;
}
img.imgAnemo {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgElectro {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgcyro {
    width: 12rem;
    height: 8rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imghydro {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imggeo {
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgpyro {
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.GinshinElementsNames {
    display: grid;
    width: 72rem;
    margin-left: 4.5rem;
    margin-top: -45.7rem;
    position: absolute;
    color: white;
    justify-items: end;
    justify-content: start;
    align-content: center;
}
.Anemo {
    margin-bottom: 7rem;
}

.Electro {
    margin-left: -46px;
    margin-bottom: 8rem;
}
.cryo {
    padding-right: 0.8rem;
    margin-bottom: 8rem;
}
.hydro {
    margin-left: 21px;
    padding-left: 1rem;
    margin-bottom: 8rem;
}
.geo {
    padding-right: 0.7rem;
    margin-bottom: 8rem;
}
.pyro{
    padding-right: 0.6rem;
}
.freamPlay {
    height: 8rem;
    width: 8rem;
    background-color: #0076ff2e;
    box-shadow: -4px 5px 35px 0px #00b6ff3b, inset -5px 5px 15px 0px #00fffd33;
    position: absolute;
    border-radius: 1rem;
    top: 91.5rem;
    left: 27.5%;
}
img.imgGame {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 32.7%;}
img.imgGame1 {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 32.7%;
    animation-name: Games;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.gameplay {
    margin-top: 25rem;
    margin-left: 36.25%;
    font-size: large;
    color: white;
    text-shadow: 0px 0px 15px #00b5ff;
    margin-bottom: 20rem;
}
img.backgroundGamePlay {
    position: absolute;
    width: 9.900000000000006rem;
    opacity: 0;
}

img.photoGamePlay {
    position: absolute;
    width: 12rem;
    top: 113rem;
    left: 2.5rem;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00B5FF);
}
img.photoGamePlay1 {
    position: absolute;
    width: 12rem;
    top: 214.5rem;
    left: 2.6rem;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00b5ff8c);
}
p.span1 {
    color: white;
    width: 14.299999999999997rem;
    margin-left: 1.39rem;
    line-height: 1.8;
    padding-top: 0.5rem;
    font-size: xx-small;
    letter-spacing: 1px;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.discreabtionplay {
    color: white;
    width: 14rem;
    margin-left: 1.4rem;
    letter-spacing: 1.7px;
    font-size: xx-small;
    margin-top: 5rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.span2 {
    color: white;
    width: 14rem;
    margin-left: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: xx-small;
    margin-top: 9.5rem;
    padding-top: 1.7rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
.frameAwards {
    height: 8rem;
    width: 8rem;
    background-color: #ff124947;
    box-shadow: -4px 5px 35px 0px #ff124980, inset -5px 5px 15px 0px #ff12497d;
    position: absolute;
    border-radius: 1rem;
    top: 260.5rem;
    left: 27.5%;
}
img.cup {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 261.58rem;
    left: 32.5%;
}
img.cup1 {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 261.58rem;
    left: 32.5%;
    filter: blur(10px) brightness(2);
}
.Awards {
    margin-top: 23rem;
    margin-left: 38.4%;
    color: white;
    text-shadow: 0px 0px 15px #ff1249;
    font-size: large;
}
p.discreaptionAwards {
    color: white;
    margin-top: 17rem;
    width: 14rem;
    font-size: xx-small;
    margin-left: 1.5rem;
    text-shadow: 0px 0px 20px #ff1249c7, 0px 0px 50px #ff1249;
}
img.photoAwards {
    width: 7rem;
    position: absolute;
    top: 279.5rem;
    left: 5rem;
    border: 3px solid #a11233;
    filter: drop-shadow(0px 0px 51px #ff1249);
}
.fraemStory {
    height: 8rem;
    width: 8rem;
    background-color: #ca00ff29;
    box-shadow: -4px 5px 35px 0px #ca00ffa1, inset -5px 5px 15px 0px #ca00ff75;
    position: absolute;
    border-radius: 1rem;
    top: 310.5rem;
    left: 27.58%;
}
img.book {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 36.2%;
    top: 312rem;
    filter: blur(35px) brightness(2);
}
img.book1 {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 36.2%;
    top: 312rem;
}
.NameStory {
    margin-top: 20.5rem;
    color: white;
    font-size: x-large;
    margin-bottom: 5rem;
    margin-left: 40%;
    text-shadow: 0px 0px 20px #c000ff;
}
img.SAKON {
    position: absolute;
    width: 7rem;
    margin-top: 1rem;
    left: 5.1rem;
    border: 3px solid #a11282;
    filter: drop-shadow(0px 0px 50px #a11282);
}
img.𝑹𝑨𝑰𝑫𝑬𝑵 {
    position: absolute;
    width: 10rem;
    left: 3.5rem;
    border: 3px solid #a11282;
    margin-top: 47rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
img.Dragon14 {
    position: absolute;
    width: 10rem;
    left: 4rem;
    border: 3px solid #a11282;
    margin-top: 97.5rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
p.span3 {
    color: white;
    width: 14rem;
    margin-left: 1.5rem;
    letter-spacing: 1px;
    font-size: xx-small;
    margin-top: 20rem;
    text-shadow: 0px 0px 20px #c000ff;
}
p.discraptionStory {
    color: white;
    width: 14rem;
    margin-left: 1.5rem;
    letter-spacing: 1px;
    margin-top: 13.6rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #c000ff;
}
p.span4 {
    color: white;
    width: 14rem;
    margin-top: 12.5rem;
    margin-left: 1.5rem;
    letter-spacing: 1px;
    font-size: small;
    text-shadow: 0px 0px 20px #c000ff;
}
.Framesss {
    display: flex;
    width: 17rem;
    margin-top: 10rem;
    justify-content: space-around;
}
.freams {
    width: 4rem;
    height: 4rem;
    background-color: #061f37;
    border-radius: 6rem;
}
img.twitterLogo {
    position: absolute;
    width: 2.5rem;
    margin-left: 1.6rem;
    margin-top: -3.1rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;
}
img.discordLogo {
    position: absolute;
    width: 3rem;
    margin-left: 7rem;
    margin-top: -3.56rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;
}
img.inestaLogo {
    position: absolute;
    width: 2.7rem;
    margin-left: 12.89rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    margin-top: -3.39rem;
    opacity: .05;
}
img.genshinLogoFooter {
    width: 10rem;
    margin-left: 20%;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}
img.Destruction {
    width: 1.8rem;
    padding-bottom: 5px;
    margin-left: -7.59rem;
}
img.Esrb-removebg-preview {
    width: 2rem;
    padding-left: 1rem;
    padding-bottom: 0.28rem;
}
.ContentFooter {
    color: white;
    margin-left: 1.5rem;
    width: 14rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #ffffffd6;
}
p.span5 {
    color: white;
    margin-left: 1.5rem;
    width: 14rem;
    text-shadow: 0px 0px 20px #ffffffd6;
    font-size: xx-small;
}
p.span6 {
    color: white;
    margin-left: 1.7899999999999991rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #ffffffd6;
}
img.Hoyoverse {
    width: 15rem;
    margin-left: 0.4rem;
    margin-top: -2rem;
}
.BackgroundColorFooter {
    width: 100%;
    margin-left: -0.5rem;
    height: 30rem;
    position: absolute;
    margin-top: -25rem;
    z-index: -1;
    background-color: #020e1a;
}
.Copyright {
    color: white;
    font-size: small;
    margin-left: 29.9%;
    text-shadow: 0px 0px 20px;
}
}
@media (min-width: 300px) and (max-width: 390px) { 
    header {
        display: flex;
        justify-content: space-evenly;
        width: 15rem;
        right: 3.5rem;
        position: absolute;
        color: white;
        top: 0.8rem;
        font-size: x-small;
    }
    div.logo {
        color: #ffffff00;
        position: absolute;
    }
    div.signUp {
        position: absolute;
        right: -2.7rem;
    }
    img.Start {
        width: 24.39rem;
        right: 0rem;
        margin-left: -8px;
        margin-top: -6rem;
        position: absolute;
        z-index: -1;
    }
    img.Start1 {
        width: 24.395rem;
        right: 0rem;
        margin-left: -8px;
        margin-top: -6rem;
        position: absolute;
        z-index: -1;
        filter: blur(0.5px) brightness(1.1);
        -webkit-filter: blur(0.5px) brightness(1.1);
        animation-name: start11;
        animation-duration: 10s;
        animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
        animation-iteration-count: infinite;
    }
    img.logoimg {
        width: 10rem;
        right: 0.5rem;
        position: absolute;
        top: 3rem;
    }
    img.logoimg1 {
        width: 10rem;
        right: 0.5rem;
        position: absolute;
        top: 3rem;
        filter: blur(5px) brightness(1.9);
        animation-name: Logoo;
        animation-duration: 5s;
        animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
        animation-iteration-count: infinite;
    }
    div.shadowleft {
        width: 24.4rem;
        left: 0px;
        position: absolute;
        height: 13.8rem;
        background: linear-gradient(90deg, #00000070, transparent);
        top: 0rem;
        z-index: -1;
    }
    div.shadowright {
        width: 24.5rem;
        left: 0px;
        position: absolute;
        height: 13.8rem;
        background: linear-gradient(270deg, #0000004d, transparent);
        top: 0rem;
        z-index: -1;
    }
    div.colorhrr {
        width: 24.4rem;
        height: 6px;
        background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
        left: 0px;
        position: absolute;
        top: 12.4rem;
} 
div.colorhrr1 {
    z-index: 1;
    top: 433.8rem;
    width: 24.4rem;
    height: 6px;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    left: 0px;
    position: absolute;
}
.hrr {
    width: 24.4rem;
    height: 84rem;
    background-color: rgb(5, 23, 41);
    position: absolute;
    top: 12.5rem;
    left: 0px;
    box-shadow: 0px -10px 20px 0px #000000c2;
    z-index: -1;
}
div.Element {
    margin-top: 10rem;
    margin-left: 35.5%;
    font-size: small;
    color: white;
}
.GinshinElementsFrame {
    margin-left: 29%;
    margin-top: 3.5rem;
    position: absolute;
    z-index: -1;
}
.frameElement1 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 0.4rem;
}
.frameElement2 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 8.28rem;
}
.frameElement3 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 17.3rem;
}
.frameElement4 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 26.8rem;
}
.frameElement5 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 35.9rem;
}
.frameElement6 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 45.3rem;
}
.GinshinElementsImgs {
    display: grid;
    width: 262rem;
    margin-left: 22.2%;
    margin-top: 5.5rem;
    justify-items: center;
    justify-content: start;
}
img.imgAnemo {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgElectro {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgcyro {
    width: 12rem;
    height: 8rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imghydro {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imggeo {
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgpyro {
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.GinshinElementsNames {
    display: grid;
    width: 72rem;
    margin-left: 33%;
    margin-top: -45.7rem;
    position: absolute;
    color: white;
    justify-items: end;
    justify-content: start;
    align-content: center;
}
.Anemo {
    margin-bottom: 7rem;
}

.Electro {
    margin-left: -46px;
    margin-bottom: 8rem;
}
.cryo {
    padding-right: 0.8rem;
    margin-bottom: 8rem;
}
.hydro {
    margin-left: 21px;
    padding-left: 1rem;
    margin-bottom: 8rem;
}
.geo {
    padding-right: 0.7rem;
    margin-bottom: 8rem;
}
.pyro{
    padding-right: 0.6rem;
}
.freamPlay {
    height: 8rem;
    width: 8rem;
    background-color: #0076ff2e;
    box-shadow: -4px 5px 35px 0px #00b6ff3b, inset -5px 5px 15px 0px #00fffd33;
    position: absolute;
    border-radius: 1rem;
    top: 91.5rem;
    left: 33%;
}
img.imgGame {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 36.8%;}
img.imgGame1 {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 36.8%;
    animation-name: Games;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.gameplay {
    margin-top: 25rem;
    margin-left: 38%;
    font-size: large;
    color: white;
    text-shadow: 0px 0px 15px #00b5ff;
    margin-bottom: 20rem;
}
img.backgroundGamePlay {
    position: absolute;
    width: 9.900000000000006rem;
    opacity: 0;
}

img.photoGamePlay {
    position: absolute;
    width: 12rem;
    top: 113rem;
    left: 25%;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00B5FF);
}
img.photoGamePlay1 {
    position: absolute;
    width: 12rem;
    top: 193rem;
    left: 20%;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00b5ff8c);
}
p.span1 {
    color: white;
    width: 17.5rem;
    margin-left: 1.5rem;
    line-height: 1.8;
    padding-top: 0.5rem;
    font-size: xx-small;
    letter-spacing: 1px;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.discreabtionplay {
    color: white;
    width: 17.5rem;
    margin-left: 1.5rem;
    letter-spacing: 1.7px;
    font-size: xx-small;
    margin-top: 2rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.span2 {
    color: white;
    width: 17.5rem;
    margin-left: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: xx-small;
    margin-top: 9.5rem;
    padding-top: 1.7rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
.frameAwards {
    height: 8rem;
    width: 8rem;
    background-color: #ff124947;
    box-shadow: -4px 5px 35px 0px #ff124980, inset -5px 5px 15px 0px #ff12497d;
    position: absolute;
    border-radius: 1rem;
    top: 235.5rem;
    left: 33%;
}
img.cup {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 236.57999999999998rem;
    left: 37.4%;
}
img.cup1 {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 236.57999999999998rem;
    left: 37.4%;
    filter: blur(10px) brightness(2);
}
.Awards {
    margin-top: 20rem;
    margin-left: 42%;
    color: white;
    text-shadow: 0px 0px 15px #ff1249;
    font-size: large;
}
p.discreaptionAwards {
    color: white;
    margin-top: 17rem;
    width: 17rem;
    font-size: xx-small;
    margin-left: 11%;
    text-shadow: 0px 0px 20px #ff1249c7, 0px 0px 50px #ff1249;
}
img.photoAwards {
    width: 7.5rem;
    position: absolute;
    top: 254rem;
    left: 35%;
    border: 3px solid #a11233;
    filter: drop-shadow(0px 0px 51px #ff1249);
}
.fraemStory {
    height: 8rem;
    width: 8rem;
    background-color: #ca00ff29;
    box-shadow: -4px 5px 35px 0px #ca00ffa1, inset -5px 5px 15px 0px #ca00ff75;
    position: absolute;
    border-radius: 1rem;
    top: 283.5rem;
    left: 30.8%;
}
img.book {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 37.5%;
    top: 285rem;
    filter: blur(35px) brightness(2);
}
img.book1 {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 37.5%;
    top: 285rem;
}
.NameStory {
    margin-top: 20.5rem;
    color: white;
    font-size: x-large;
    margin-bottom: 5rem;
    margin-left: 40%;
    text-shadow: 0px 0px 20px #c000ff;
}
img.SAKON {
    position: absolute;
    width: 7rem;
    margin-top: 1rem;
    left: 32%;
    border: 3px solid #a11282;
    filter: drop-shadow(0px 0px 50px #a11282);
}
img.𝑹𝑨𝑰𝑫𝑬𝑵 {
    position: absolute;
    width: 10rem;
    left: 25%;
    border: 3px solid #a11282;
    margin-top: 42.5rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
img.Dragon14 {
    position: absolute;
    width: 10rem;
    left: 25%;
    border: 3px solid #a11282;
    margin-top: 86.5rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
p.span3 {
    color: white;
    width: 17rem;
    margin-left: 11%;
    letter-spacing: 1px;
    font-size: xx-small;
    margin-top: 20rem;
    text-shadow: 0px 0px 20px #c000ff;
}
p.discraptionStory {
    color: white;
    width: 17rem;
    margin-left: 11%;
    letter-spacing: 1px;
    margin-top: 13.6rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #c000ff;
}
p.span4 {
    color: white;
    width: 17rem;
    margin-top: 12.5rem;
    margin-left: 11%;
    letter-spacing: 1px;
    font-size: small;
    text-shadow: 0px 0px 20px #c000ff;
}
.Framesss {
    display: flex;
    width: 18rem;
    margin-top: 10rem;
    justify-content: space-around;
    margin-left: 7%;
}
.freams {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #061f37;
    border-radius: 6rem;
}
img.twitterLogo {
    position: absolute;
    width: 2.5rem;
    margin-left: 3.3rem;
    margin-top: -3.3rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;
}
img.discordLogo {
    position: absolute;
    width: 3rem;
    margin-left: 9.2rem;
    margin-top: -3.56rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;
}
img.inestaLogo {
    position: absolute;
    width: 2.7rem;
    margin-left: 15.2rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    margin-top: -3.39rem;
    opacity: .05;
}
img.genshinLogoFooter {
    width: 13rem;
    margin-left: 15%;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}
img.Destruction {
    width: 2.8rem;
    padding-bottom: 5px;
    margin-left: -9.59rem;
}
img.Esrb-removebg-preview {
    width: 3rem;
    padding-left: 1rem;
    padding-bottom: 0.28rem;
}
.ContentFooter {
    color: white;
    margin-left: 11%;
    width: 17rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #ffffffd6;
}
p.span5 {
    color: white;
    margin-left: 11%;
    width: 17rem;
    text-shadow: 0px 0px 20px #ffffffd6;
    font-size: xx-small;
}
p.span6 {
    color: white;
    margin-left: 11%;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #ffffffd6;
}
img.Hoyoverse {
    width: 15rem;
    margin-left: 11%;
    margin-top: -2rem;
}
.BackgroundColorFooter {
    width: 100%;
    margin-left: -0.5rem;
    height: 30rem;
    position: absolute;
    margin-top: -25rem;
    z-index: -1;
    background-color: #020e1a;
}
.Copyright {
    color: white;
    font-size: small;
    margin-left: 35%;
    text-shadow: 0px 0px 20px;
}
}

@media  (min-width: 391px) and (max-width: 500px) { 
    header {
        display: flex;
        justify-content: space-evenly;
        width: 65%;
        right: 3.5rem;
        position: absolute;
        color: white;
        top: 0.8rem;
        font-size: small;
    }
    div.logo {
        color: #ffffff;
        position: absolute;
        font-size: medium;
        top: 0.59rem;
        left: 2%;
    }
    div.signUp {
        position: absolute;
        right: -2.7rem;
    }
    img.Start {
        width: 100%;
        right: 0rem;
        margin-left: -8px;
        margin-top: -5.99rem;
        position: absolute;
        z-index: -1;
    }
    img.Start1 {
        width: 100%;
        right: 0rem;
        margin-left: -8px;
        margin-top: -5.99rem;
        position: absolute;
        z-index: -1;
        filter: blur(0.5px) brightness(1.1);
        -webkit-filter: blur(0.5px) brightness(1.1);
        animation-name: start11;
        animation-duration: 10s;
        animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
        animation-iteration-count: infinite;
}
    img.logoimg {
        width: 11rem;
        right: 0.5rem;
        position: absolute;
        top: 6rem;
    }
    img.logoimg1 {
        width: 11rem;
        right: 0.5rem;
        position: absolute;
        top: 6rem;
        filter: blur(5px) brightness(1.9);
        animation-name: Logoo;
        animation-duration: 5s;
        animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
        animation-iteration-count: infinite;
    }
    div.shadowleft {
        width: 30.2rem;
        left: 0px;
        position: absolute;
        height: 17rem;
        background: linear-gradient(90deg, #00000070, transparent);
        top: 0rem;
        z-index: -1;
    }
    div.shadowright {
        width: 30.2rem;
        left: 0px;
        position: absolute;
        height: 17rem;
        background: linear-gradient(270deg, #0000004d, transparent);
        top: 0rem;
        z-index: -1;
    }
    div.colorhrr {
        width: 100%;
        height: 6px;
        background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
        left: 0px;
        position: absolute;
        top: 12.399999999999999rem;
} 
div.colorhrr1 {
    z-index: 1;
    top: 384.5rem;
    width: 30.2rem;
    height: 6px;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    left: 0px;
    position: absolute;
}
.hrr {
    width: 30.2rem;
    height: 370rem;
    background-color: rgb(5, 23, 41);
    position: absolute;
    top: 12.5rem;
    left: 0px;
    box-shadow: 0px -10px 20px 0px #000000c2;
    z-index: -1;
}
div.Element {
    margin-top: 10rem;
    margin-left: 40.5%;
    font-size: small;
    color: white;
}
.GinshinElementsFrame {
    margin-left: 34.5%;
    margin-top: 3.5rem;
    position: absolute;
    z-index: -1;
}
.frameElement1 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 0.4rem;
}
.frameElement2 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 8.28rem;
}
.frameElement3 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 17.3rem;
}
.frameElement4 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 26.8rem;
}
.frameElement5 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 35.9rem;
}
.frameElement6 {
    height: 6rem;
    width: 6rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 45.3rem;
}
.GinshinElementsImgs {
    display: grid;
    width: 262rem;
    margin-left: 29.8%;
    margin-top: 5.5rem;
    justify-items: center;
    justify-content: start;
}
img.imgAnemo {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgElectro {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgcyro {
    width: 12rem;
    height: 8rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imghydro {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imggeo {
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgpyro {
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.GinshinElementsNames {
    display: grid;
    width: 72rem;
    margin-left: 37.2%;
    margin-top: -45.7rem;
    position: absolute;
    color: white;
    justify-items: end;
    justify-content: start;
    align-content: center;
}
.Anemo {
    margin-bottom: 7rem;
}

.Electro {
    margin-left: -46px;
    margin-bottom: 8rem;
}
.cryo {
    padding-right: 0.8rem;
    margin-bottom: 8rem;
}
.hydro {
    margin-left: 21px;
    padding-left: 1rem;
    margin-bottom: 8rem;
}
.geo {
    padding-right: 0.7rem;
    margin-bottom: 8rem;
}
.pyro{
    padding-right: 0.6rem;
}
.freamPlay {
    height: 8rem;
    width: 8rem;
    background-color: #0076ff2e;
    box-shadow: -4px 5px 35px 0px #00b6ff3b, inset -5px 5px 15px 0px #00fffd33;
    position: absolute;
    border-radius: 1rem;
    top: 91.5rem;
    left: 37%;
}
img.imgGame {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 40%;}
img.imgGame1 {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 40%;
    animation-name: Games;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.gameplay {
    margin-top: 25rem;
    margin-left: 41%;
    font-size: large;
    color: white;
    text-shadow: 0px 0px 15px #00b5ff;
    margin-bottom: 20rem;
}
img.backgroundGamePlay {
    position: absolute;
    width: 9.900000000000006rem;
    opacity: 0;
}

img.photoGamePlay {
    position: absolute;
    width: 15rem;
    top: 113rem;
    left: 24%;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00B5FF);
}
img.photoGamePlay1 {
    position: absolute;
    width: 15rem;
    top: 172rem;
    left: 20%;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00b5ff8c);
}
p.span1 {
    color: white;
    width: 24.5rem;
    margin-left: 5%;
    line-height: 1.8;
    padding-top: 0.5rem;
    font-size: xx-small;
    letter-spacing: 1px;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.discreabtionplay {
    color: white;
    width: 24.5rem;
    margin-left: 5%;
    letter-spacing: 1.7px;
    font-size: xx-small;
    margin-top: 0.5rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.span2 {
    color: white;
    width: 24.5rem;
    margin-left: 5%;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: xx-small;
    margin-top: 12rem;
    padding-top: 1.7rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
.frameAwards {
    height: 8rem;
    width: 8rem;
    background-color: #ff124947;
    box-shadow: -4px 5px 35px 0px #ff124980, inset -5px 5px 15px 0px #ff12497d;
    position: absolute;
    border-radius: 1rem;
    top: 209.5rem;
    left: 37%;
}
img.cup {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 210.6rem;
    left: 40%;
}
img.cup1 {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 210.6rem;
    left: 40%;
    filter: blur(10px) brightness(2);
}
.Awards {
    margin-top: 20rem;
    margin-left: 43.5%;
    color: white;
    text-shadow: 0px 0px 15px #ff1249;
    font-size: large;
}
p.discreaptionAwards {
    color: white;
    margin-top: 17rem;
    width: 24rem;
    font-size: xx-small;
    margin-left: 5%;
    text-shadow: 0px 0px 20px #ff1249c7, 0px 0px 50px #ff1249;
}
img.photoAwards {
    width: 8.5rem;
    position: absolute;
    top: 227rem;
    left: 34%;
    border: 3px solid #a11233;
    filter: drop-shadow(0px 0px 51px #ff1249);
}
.fraemStory {
    height: 8rem;
    width: 8rem;
    background-color: #ca00ff29;
    box-shadow: -4px 5px 35px 0px #ca00ffa1, inset -5px 5px 15px 0px #ca00ff75;
    position: absolute;
    border-radius: 1rem;
    top: 255.5rem;
    left: 37%;
}
img.book {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 42%;
    top: 257rem;
    filter: blur(35px) brightness(2);
}
img.book1 {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 42%;
    top: 257rem;
}
.NameStory {
    margin-top: 20.5rem;
    color: white;
    font-size: x-large;
    margin-bottom: 5rem;
    margin-left: 44.5%;
    text-shadow: 0px 0px 20px #c000ff;
}
img.SAKON {
    position: absolute;
    width: 9rem;
    margin-top: 1rem;
    left: 32%;
    border: 3px solid #a11282;
    filter: drop-shadow(0px 0px 50px #a11282);
}
img.𝑹𝑨𝑰𝑫𝑬𝑵 {
    position: absolute;
    width: 12rem;
    left: 25%;
    border: 3px solid #a11282;
    margin-top: 34.3rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
img.Dragon14 {
    position: absolute;
    width: 12rem;
    left: 25%;
    border: 3px solid #a11282;
    margin-top: 69.2rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
p.span3 {
    color: white;
    width: 24rem;
    margin-left: 5%;
    letter-spacing: 1px;
    font-size: xx-small;
    margin-top: 21rem;
    text-shadow: 0px 0px 20px #c000ff;
}
p.discraptionStory {
    color: white;
    width: 24rem;
    margin-left: 5%;
    letter-spacing: 1px;
    margin-top: 13.6rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #c000ff;
}
p.span4 {
    color: white;
    width: 23rem;
    margin-top: 13.5rem;
    margin-left: 5%;
    letter-spacing: 1px;
    font-size: small;
    text-shadow: 0px 0px 20px #c000ff;
}
.Framesss {
    display: flex;
    width: 80%;
    margin-top: 10rem;
    justify-content: space-around;
    margin-left: 7%;
}
.freams {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #061f37;
    border-radius: 6rem;
}
img.twitterLogo {
    position: absolute;
    width: 2.5rem;
    margin-left: 15.3%;
    margin-top: -3.3rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;
}
img.discordLogo {
    position: absolute;
    width: 3rem;
    margin-left: 40%;
    margin-top: -3.7rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;
}
img.inestaLogo {
    position: absolute;
    width: 2.7rem;
    margin-left: 66.5%;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    margin-top: -3.49rem;
    opacity: .05;
}
img.genshinLogoFooter {
    width: 13rem;
    margin-left: 23%;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}
img.Destruction {
    width: 2.8rem;
    padding-bottom: 5px;
    margin-left: -9.59rem;
}
img.Esrb-removebg-preview {
    width: 3rem;
    padding-left: 1rem;
    padding-bottom: 0.28rem;
}
.ContentFooter {
    color: white;
    margin-left: 11%;
    width: 20.5rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #ffffffd6;
}
p.span5 {
    color: white;
    margin-left: 11%;
    width: 20.5rem;
    text-shadow: 0px 0px 20px #ffffffd6;
    font-size: xx-small;
}
p.span6 {
    color: white;
    margin-left: 11%;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #ffffffd6;
}
img.Hoyoverse {
    width: 15rem;
    margin-left: 19%;
    margin-top: -2rem;
}
.BackgroundColorFooter {
    width: 100%;
    margin-left: -0.5rem;
    height: 30rem;
    position: absolute;
    margin-top: -25rem;
    z-index: -1;
    background-color: #020e1a;
}
.Copyright {
    color: white;
    font-size: small;
    margin-left: 35%;
    text-shadow: 0px 0px 20px;
}
} 
@media  (min-width: 500px) and (max-width: 700px) {  
    header {
        display: flex;
        justify-content: space-evenly;
        width: 65%;
        right: 3.5rem;
        position: absolute;
        color: white;
        top: 0.8rem;
        font-size: smaller;
    }
    div.logo {
        color: #ffffff;
        position: absolute;
        font-size: large;
        top: 0.59rem;
        left: 10%;
    }
    div.signUp {
        position: absolute;
        right: -2.7rem;
    }
    img.Start {
        width: 100%;
        right: 0rem;
        margin-top: -5.99rem;
        position: absolute;
        z-index: -1;
    }
    img.Start1 {
        width: 100%;
        right: 0rem;
        margin-top: -5.99rem;
        position: absolute;
        z-index: -1;
        filter: blur(0.5px) brightness(1.1);
        -webkit-filter: blur(0.5px) brightness(1.1);
        animation-name: start11;
        animation-duration: 10s;
        animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
        animation-iteration-count: infinite;
    }
    img.logoimg {
        width: 11rem;
        right: 0.5rem;
        position: absolute;
        top: 6rem;
    }
    img.logoimg1 {
        width: 11rem;
        right: 0.5rem;
        position: absolute;
        top: 6rem;
        filter: blur(5px) brightness(1.9);
        animation-name: Logoo;
        animation-duration: 5s;
        animation-timing-function: cubic-bezier(0, 0.97, 1, 0.02);
        animation-iteration-count: infinite;
    }
    div.shadowleft {
        width: 100%;
        left: 0px;
        position: absolute;
        height: 24rem;
        background: linear-gradient(90deg, #00000070, transparent);
        top: 0rem;
        z-index: -1;
    }
    div.shadowright {
        width: 100%;
        left: 0px;
        position: absolute;
        height: 24rem;
        background: linear-gradient(270deg, #0000004d, transparent);
        top: 0rem;
        z-index: -1;
    }
    div.colorhrr {
        width: 100%;
        height: 6px;
        background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
        left: 0px;
        position: absolute;
        top: 16.4rem;
} 
div.colorhrr1 {
    z-index: 1;
    top: 384.5rem;
    width: 30.2rem;
    height: 6px;
    background: linear-gradient(270deg, #00B5FF, rgb(5, 23, 41));
    left: 0px;
    position: absolute;
}
.hrr {
    width: 100%;
    height: 370rem;
    background-color: rgb(5, 23, 41);
    position: absolute;
    top: 16.5rem;
    left: 0px;
    box-shadow: 0px -10px 20px 0px #000000c2;
    z-index: -1;
}
div.Element {
    margin-top: 10rem;
    margin-left: 45.5%;
    font-size: small;
    color: white;
}
.GinshinElementsFrame {
    margin-left: 39.9%;
    margin-top: 3.5rem;
    position: absolute;
    z-index: -1;
}
.frameElement1 {
    height: 7rem;
    width: 7rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 0.4rem;
}
.frameElement2 {
    height: 7rem;
    width: 7rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 10.28rem;
}
.frameElement3 {
    height: 7rem;
    width: 7rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 20.3rem;
}
.frameElement4 {
    height: 7rem;
    width: 7rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 29.8rem;
}
.frameElement5 {
    height: 7rem;
    width: 7rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 38.9rem;
}
.frameElement6 {
    height: 7rem;
    width: 7rem;
    background-color: #ffffff2b;
    box-shadow: -4px 5px 20px 0px #0000008a, inset -5px 5px 10px 0px #ffffff55;
    position: absolute;
    left: 1.38rem;
    border-radius: 1rem;
    top: 48.3rem;
}
.GinshinElementsImgs {
    display: grid;
    width: 303rem;
    margin-left: 37.9%;
    margin-top: 6rem;
    justify-items: center;
    justify-content: start;
}
img.imgAnemo {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 4.5rem;
}
img.imgElectro {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 3.5rem;
}
img.imgcyro {
    width: 12rem;
    height: 8rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imghydro {
    width: 5rem;
    height: 5rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imggeo {
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2.5rem;
}
img.imgpyro {
    width: 7rem;
    height: 7rem;
    transition-property: all;
    transition-delay: .5s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.GinshinElementsNames {
    display: grid;
    width: 72rem;
    margin-left: 43.2%;
    margin-top: -45.7rem;
    position: absolute;
    color: white;
    justify-items: end;
    justify-content: start;
    align-content: center;
}
.Anemo {
    margin-bottom: 8.5rem;
    margin-top: -2rem;
}

.Electro {
    margin-left: -46px;
    margin-bottom: 8.5rem;
}
.cryo {
    padding-right: 0.8rem;
    margin-bottom: 8rem;
}
.hydro {
    margin-left: 21px;
    padding-left: 1rem;
    margin-bottom: 8rem;
}
.geo {
    padding-right: 0.7rem;
    margin-bottom: 8rem;
}
.pyro{
    padding-right: 0.6rem;
}
.freamPlay {
    height: 8rem;
    width: 8rem;
    background-color: #0076ff2e;
    box-shadow: -4px 5px 35px 0px #00b6ff3b, inset -5px 5px 15px 0px #00fffd33;
    position: absolute;
    border-radius: 1rem;
    top: 91.5rem;
    left: 37%;
}
img.imgGame {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 40%;}
img.imgGame1 {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 92.5rem;
    left: 40%;
    animation-name: Games;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.gameplay {
    margin-top: 25rem;
    margin-left: 41%;
    font-size: large;
    color: white;
    text-shadow: 0px 0px 15px #00b5ff;
    margin-bottom: 20rem;
}
img.backgroundGamePlay {
    position: absolute;
    width: 9.900000000000006rem;
    opacity: 0;
}

img.photoGamePlay {
    position: absolute;
    width: 15rem;
    top: 113rem;
    left: 24%;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00B5FF);
}
img.photoGamePlay1 {
    position: absolute;
    width: 15rem;
    top: 172rem;
    left: 20%;
    border: 3px solid #006d99;
    filter: drop-shadow(0px 0px 50px #00b5ff8c);
}
p.span1 {
    color: white;
    width: 24.5rem;
    margin-left: 5%;
    line-height: 1.8;
    padding-top: 0.5rem;
    font-size: xx-small;
    letter-spacing: 1px;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.discreabtionplay {
    color: white;
    width: 24.5rem;
    margin-left: 5%;
    letter-spacing: 1.7px;
    font-size: xx-small;
    margin-top: 0.5rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
p.span2 {
    color: white;
    width: 24.5rem;
    margin-left: 5%;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: xx-small;
    margin-top: 12rem;
    padding-top: 1.7rem;
    text-shadow: 0px 0px 20px #00b5ff;
}
.frameAwards {
    height: 8rem;
    width: 8rem;
    background-color: #ff124947;
    box-shadow: -4px 5px 35px 0px #ff124980, inset -5px 5px 15px 0px #ff12497d;
    position: absolute;
    border-radius: 1rem;
    top: 209.5rem;
    left: 37%;
}
img.cup {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 210.6rem;
    left: 40%;
}
img.cup1 {
    height: 6rem;
    width: 6rem;
    position: absolute;
    border-radius: 1rem;
    top: 210.6rem;
    left: 40%;
    filter: blur(10px) brightness(2);
}
.Awards {
    margin-top: 20rem;
    margin-left: 43.5%;
    color: white;
    text-shadow: 0px 0px 15px #ff1249;
    font-size: large;
}
p.discreaptionAwards {
    color: white;
    margin-top: 17rem;
    width: 24rem;
    font-size: xx-small;
    margin-left: 5%;
    text-shadow: 0px 0px 20px #ff1249c7, 0px 0px 50px #ff1249;
}
img.photoAwards {
    width: 8.5rem;
    position: absolute;
    top: 227rem;
    left: 34%;
    border: 3px solid #a11233;
    filter: drop-shadow(0px 0px 51px #ff1249);
}
.fraemStory {
    height: 8rem;
    width: 8rem;
    background-color: #ca00ff29;
    box-shadow: -4px 5px 35px 0px #ca00ffa1, inset -5px 5px 15px 0px #ca00ff75;
    position: absolute;
    border-radius: 1rem;
    top: 255.5rem;
    left: 37%;
}
img.book {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 42%;
    top: 257rem;
    filter: blur(35px) brightness(2);
}
img.book1 {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 42%;
    top: 257rem;
}
.NameStory {
    margin-top: 20.5rem;
    color: white;
    font-size: x-large;
    margin-bottom: 5rem;
    margin-left: 44.5%;
    text-shadow: 0px 0px 20px #c000ff;
}
img.SAKON {
    position: absolute;
    width: 9rem;
    margin-top: 1rem;
    left: 32%;
    border: 3px solid #a11282;
    filter: drop-shadow(0px 0px 50px #a11282);
}
img.𝑹𝑨𝑰𝑫𝑬𝑵 {
    position: absolute;
    width: 12rem;
    left: 25%;
    border: 3px solid #a11282;
    margin-top: 34.3rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
img.Dragon14 {
    position: absolute;
    width: 12rem;
    left: 25%;
    border: 3px solid #a11282;
    margin-top: 69.2rem;
    filter: drop-shadow(0px 0px 50px #a11282);
}
p.span3 {
    color: white;
    width: 24rem;
    margin-left: 5%;
    letter-spacing: 1px;
    font-size: xx-small;
    margin-top: 21rem;
    text-shadow: 0px 0px 20px #c000ff;
}
p.discraptionStory {
    color: white;
    width: 24rem;
    margin-left: 5%;
    letter-spacing: 1px;
    margin-top: 13.6rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #c000ff;
}
p.span4 {
    color: white;
    width: 23rem;
    margin-top: 13.5rem;
    margin-left: 5%;
    letter-spacing: 1px;
    font-size: small;
    text-shadow: 0px 0px 20px #c000ff;
}
.Framesss {
    display: flex;
    width: 80%;
    margin-top: 10rem;
    justify-content: space-around;
    margin-left: 7%;
}
.freams {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #061f37;
    border-radius: 6rem;
}
img.twitterLogo {
    position: absolute;
    width: 2.5rem;
    margin-left: 15.3%;
    margin-top: -3.3rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;
}
img.discordLogo {
    position: absolute;
    width: 3rem;
    margin-left: 40%;
    margin-top: -3.7rem;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    opacity: .05;
}
img.inestaLogo {
    position: absolute;
    width: 2.7rem;
    margin-left: 66.5%;
    transition-duration: .2s;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
    margin-top: -3.49rem;
    opacity: .05;
}
img.genshinLogoFooter {
    width: 13rem;
    margin-left: 23%;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}
img.Destruction {
    width: 2.8rem;
    padding-bottom: 5px;
    margin-left: -9.59rem;
}
img.Esrb-removebg-preview {
    width: 3rem;
    padding-left: 1rem;
    padding-bottom: 0.28rem;
}
.ContentFooter {
    color: white;
    margin-left: 11%;
    width: 20.5rem;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #ffffffd6;
}
p.span5 {
    color: white;
    margin-left: 11%;
    width: 20.5rem;
    text-shadow: 0px 0px 20px #ffffffd6;
    font-size: xx-small;
}
p.span6 {
    color: white;
    margin-left: 11%;
    font-size: xx-small;
    text-shadow: 0px 0px 20px #ffffffd6;
}
img.Hoyoverse {
    width: 15rem;
    margin-left: 19%;
    margin-top: -2rem;
}
.BackgroundColorFooter {
    width: 100%;
    margin-left: -0.5rem;
    height: 30rem;
    position: absolute;
    margin-top: -25rem;
    z-index: -1;
    background-color: #020e1a;
}
.Copyright {
    color: white;
    font-size: small;
    margin-left: 35%;
    text-shadow: 0px 0px 20px;
}
}
/* 
@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... } */